<!-- Toolbar -->
<div class="toolbar" role="banner">
  &nbsp;
  <img
    
    height="60"
    alt="E-auction"
    src="https://media.istockphoto.com/photos/word-with-computer-mouse-picture-id543315628?k=20&m=543315628&s=612x612&w=0&h=sgE4YvSTkSRDwwCEpPfyHuPkplO0-dCWpB1AEvkZmuQ="
  />
    <div class="spacer"></div>
</div>

<div class="content" role="main">
  <form>
    <div class="row">
      <div class="col-md-12 head-align">Fetch Details</div>
    </div>
    <div class="form-group row">
      <label for="inputEmail3" class="col-sm-3 col-form-label">Product</label>
      <div class="col-sm-6">
        <mat-form-field class="selectProduct" appearance="fill">
          <mat-select panelClass="selectPanel"  placeholder="Select product" [(value)]="selectedProductId">
              <mat-option *ngFor="let product of productInfo" [value]="product.id">{{product.productName}}
              </mat-option>
          </mat-select>
      </mat-form-field>
      
      </div>
      <div class="col-sm-3"> <button type="button" class="btn btn-primary" [disabled]="!selectedProductId" (click)="getBidData()">Get</button></div>
    </div>
    <div *ngIf="bidInfo">
    <div class="form-group row">
      <label for="lblProductName" class="col-sm-3 col-form-label">Product Name</label>
      <div class="col-sm-9">
        <input disabled=true type="text" value="{{bidInfo.productInfo.productName}}" class="form-control" id="txtProdName">
      </div>
    </div>
    <div class="form-group row">
      <label for="lblShortDescr" class="col-sm-3 col-form-label">Short Description</label>
      <div class="col-sm-9">
        <input disabled=true type="text" value="{{bidInfo.productInfo.shortDescription}}" class="form-control" id="txtShortDescr">
      </div>
    </div>
    <div class="form-group row">
      <label for="lblDetailDescr" class="col-sm-3 col-form-label">Detailed Description</label>
      <div class="col-sm-9">
        <input disabled=true type="text" value="{{bidInfo.productInfo.detailedDescription}}" class="form-control" id="txtDetailDescr">
      </div>
    </div>
    <div class="form-group row">
      <label for="lblCategory" class="col-sm-3 col-form-label">Category</label>
      <div class="col-sm-9">
        <input disabled=true type="text" value="{{bidInfo.productInfo.category}}" class="form-control" id="txtCategory">
      </div>
    </div>
    <div class="form-group row">
      <label for="lblStartPrice" class="col-sm-3 col-form-label">Starting Price</label>
      <div class="col-sm-9">
        <input disabled=true type="text" value="{{bidInfo.productInfo.startingPrice}}" class="form-control" id="txtStartPrice">
      </div>
    </div>
    <div class="form-group row">
      <label for="lblBidEndDate" class="col-sm-3 col-form-label">Bid End Date</label>
      <div class="col-sm-9">
        <input disabled=true type="text" value="{{bidInfo.productInfo.bidEndDate}}" class="form-control" id="txtBidEndDate">
      </div>
    </div>
    <div class="bid-group row">
    <div class="col-md-4"></div><div class="col-md-4 bid-align">Bids</div><div class="col-md-4"></div>
    <div class="form-group"></div>
    <div class="col-sm-3 bid-item-header">Bid Amount</div><div class="col-md-3 bid-item-header">Name</div><div class="col-md-3 bid-item-header">Email</div><div class="col-md-3 bid-item-header">Mobile</div>
    <div class="row" *ngFor="let bid of bidInfo.bidsList">
      <div class="col-md-3 bid-item-data">{{bid.bidAmount}}</div>&nbsp;
      <div class="col-md-3 bid-item-data">{{bid.firstName}} {{bid.lastName}}</div>&nbsp;
      <div class="col-md-3 bid-item-data text-break">{{bid.email}}</div>&nbsp;
      <div class="col-md-3 bid-item-data text-break">{{bid.phone}}</div>
  </div>
  </div>
</div>
  </form>
</div>
<router-outlet></router-outlet>
